---
import Card from "./Card/index.astro";
import { LINKS } from "../lib/constants";
---

<Card colSpan="md:col-span-3" rowSpan="md:row-span-2">
  <div class="h-full">
    <header class="flex items-center">
      <h1 class="text-white text-xl font-bold">About us</h1>
    </header>
    <div class="text-sm font-light">
      <p>
        Wander Outside is your invitation to reconnect with nature and
        like-minded souls. We’re a community of young adventurers who believe
        that life is best lived outdoors—with fresh air, campfires, and the
        thrill of exploring new places. Whether it’s hiking, beach days, or
        backyard adventures, we embrace the beauty and wonder of nature while
        encouraging a childlike curiosity and a sense of play. Join us to step
        away from the hustle and bustle, meet new friends, and savor the simple
        joys that being outdoors offers.
      </p>
    </div>
  </div>
</Card>
