---
import Card from "./Card/index.astro";
import { LINKS } from "../lib/constants";
---

<Card colSpan="md:col-span-3" rowSpan="md:row-span-2">
  <div class="h-full">
    <header class="flex items-center">
      <h1 class="text-white text-xl font-bold">About us</h1>
    </header>
    <div class="text-sm font-light">
      <p>
        At Wander Outside, we believe life&apos;s best moments happen under the
        open sky. This is more than just a club—it&apos;s your gateway to
        nature, adventure, and a community of like-minded explorers. Whether
        you're into hikes, beach days, or cozy campfires, we&apos;re here to
        help you rediscover the joy of being outdoors. Come wander with us, meet
        new friends, and make memories that will last a lifetime. It&apos;s time
        to disconnect from the everyday and reconnect with what truly matters.
      </p>
    </div>
  </div>
</Card>
