---
import Card from "./Card/index.astro";
---

<Card
  colSpan="md:col-span-2 lg:col-span-1"
  rowSpan="md:row-span-6"
  title="What to expect"
>
  <div class="flex flex-col gap-2">
    <div class="text-sm font-light">
      <p>
        TUESDAY: these are our relaxed mid-week catch-ups, perfect for a quick
        escape from your routine.
        <br />
        <br />
        SATURDAY: block out a few hours in your calendar because these outings are
        where the real exploration happens.
        <br />
        <br />
        Activities:
      </p>
      <ul class="list-disc list-inside">
        <li>Coffee & chats</li>
        <li>Rock hopping</li>
        <li>Ocean dips</li>
        <li>Kayaking</li>
        <li>Climbing</li>
        <li>Day trips</li>
        <li>Camps</li>
        <li>Games</li>
        <li>Picnic</li>
        <li>Hikes</li>
        <li>Skate</li>
        <li>And more...</li>
      </ul>
    </div>
  </div>
</Card>
