---
import Card from "./Card/index.astro";
---

<Card
  colSpan="md:col-span-2 lg:col-span-1"
  rowSpan="md:row-span-6"
  title="What to expect"
>
  <div class="flex flex-col gap-2">
    <div class="text-sm font-light">
      <p>
        TUESDAY: mornings at the beach for a swim and a coffee. It's a great way
        to start the day and meet some new people.
        <br />
        <br />
        SATURDAY: we have a range of longer activities & adventures planned to be
        challenged and seek discomfort.
        <br />
        <br />
        Activities:
      </p>
      <ul class="list-disc list-inside">
        <li>Coffee & chats</li>
        <li>Rock hopping</li>
        <li>Ocean dips</li>
        <li>Day trips</li>
        <li>Climbing</li>
        <li>Kayaking</li>
        <li>Picnic</li>
        <li>Hikes</li>
        <li>Skate</li>
        <li>Camps</li>
        <li>Games</li>
        <li>And more...</li>
      </ul>
    </div>
  </div>
</Card>
