---
import Card from "./Card/index.astro";
---

<Card
  colSpan="md:col-span-2 lg:col-span-1"
  rowSpan="md:row-span-6"
  title="What to expect"
>
  <div class="flex flex-col gap-2">
    <div class="text-sm font-light">
      <p>
        Every Tuesday, unwind with us at our laid-back coffee catch-ups—your
        perfect mid-week reset. Saturdays? They`re reserved for backyard
        adventures, where we dive into the great outdoors with all our energy
        and enthusiasm.

        <br />
        <br />
        Activities could include: Energizing hikes, thrilling rock hopping, serene
        ocean dips, kayaking excursions, climbing challenges, and much more. Whether
        you're looking to explore new terrains or just chill by the water, there's
        something for everyone to join us outside.
      </p>
    </div>
  </div>
</Card>
